body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    padding: 10px 0;
    border-bottom: 2px solid #333333;
}

header img {
    max-width: 100%;
    height: auto;
    width: 150px;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#logros-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logro-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333333;
    border-radius: 8px;
    padding: 20px;
    background-color: #1f1f1f;
    gap: 20px;
}

.logro-card img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
}

.contenido {
    flex-grow: 1;
}

.contenido h3 {
    margin: 0;
    font-size: 1.5rem;
}

.contenido p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: #bbbbbb;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dificultad {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.dificultad.dificil {
    background-color: #e53935; /* Rojo */
}

.dificultad.normal {
    background-color: #1e88e5; /* Azul */
}

.dificultad.facil {
    background-color: #43a047; /* Verde */
}

.detalles-btn {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.detalles-btn:hover {
    background-color: #3700b3;
}
